@charset "UTF-8";
/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .*/

body {
  background-color: #d6fde9;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgb(4, 109, 0);
}

h1#principal {
  text-align: center;
  background-color: #3c805e;
  color: white;
}

h2 {
  color: #7edeae;
}

.basico {
     color: green;
}

.intermediario {
       color: rgba(255, 255, 0, 0.881);
}

.avancado {
      color: red;
}